<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grafana Demo : @ViewBag.Title</title>
    <!-- JQuery CDN -->
    <script src="//code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="@Url.Content("~/Scripts/require.js")"></script>
    <script src="@Url.Content("~/Scripts/GrafanaDemo.js")"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        @RenderSection("DocumentReady", required: false)
    });
    </script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Grafana Demo</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@ViewBag.HomeActive"><a href="@Url.Action("index", "Home")">Home</a></li>
                    <li class="@ViewBag.ProductActive"><a href="@Url.Action("index", "Product")">Product</a></li>
                    <li class="@ViewBag.CartActive"><a href="@Url.Action("index", "Cart")">Cart</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div id="header">
        @RenderSection("header", required: false)
    </div>
    <div id="list">
        @RenderSection("list", required: false)
    </div>
    <div id="main" class="container">
    @RenderBody()
        <hr>
        <footer>
            <p>&copy; 2016 DEMO, Inc.</p>
        </footer>
    </div>
</body>
</html>
